body-el {
  #create-new-tracker {
    width: 200px;
    height: 220px;
    background: darken($green, 10);
    background-image: url("images/tabs.svg");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 50% 30%;
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
    color: black;

    span {
      margin-bottom: -80px;
      transition: 0.2s ease;
    }

    &:hover {
      transition: 0.2s ease;
      background: darken($green, 6);
      background-image: url("images/tabs.svg");
      background-image: url("images/tabs.svg");
      background-repeat: no-repeat;
      background-size: 100px 100px;
      background-position: 50% 30%;
    }
  }
}