#options {
  background: $white;
  display: flex;
  flex-flow: row;
  padding: 15px 5px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: $boxshadow;
  width: 100%;

  #option-inputs {
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    .option {
      margin: 7px 0;
    }
  }

  #date-container {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
