#slider-container {
  display: flex;
  flex-flow: column;
  width: 75%;
  min-height: 200px;
  padding: 15px 5px;
  margin-top: 50px;
}

slider-el {
  display: flex;
  flex-flow: column;
  input {
    width: 300px;
  }
  .range-lower {
    fill:green;
  }
  
  .range-higher {
    fill:red;
  }
}