#slider-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: center;
  min-height: 200px;
  padding: 15px 5px;
  margin-top: 50px;
}

slider-el {
  display: flex;
  flex-flow: column;
  margin: 35px;
  position: relative;
  height: 90px;
  --range-value: 15%;

  svg {
    transition: 0.2s ease;
  }

  path {
    transform-origin: center;
    transform: scale(1, 1);
  }

  .rangeValue {
    position: absolute;
    top: -5px;
  }

  .destroy-tracker {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    cursor: pointer;
  }

  .range-name {
    margin: 0;
    position: absolute;
    left: -10px;
    bottom: 0;

    .label {
      height: 10px;
    }

    input {
      color: $text-black;
      text-align: center;
    }
  }

  .range-lower {
    fill: $blue;
    transition: 0.2s ease;
  }

  .range-selected {
    transition: 0.2s ease;
    transform: scale(1.5, 1.6) translate(0, -8px);
    fill: $blue;
  }

  .range-higher {
    fill: $grey;
    transition: 0.2s ease;
  }

  input[type=range] {
    width: 165px;
    background: $grey;
    height: 5px;
    -webkit-appearance: none;
    outline: none;
    margin-left: -10px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(var(--range-value), $blue), color-stop(var(--range-value), $grey));
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    background: $blue;
    cursor: pointer;
    margin-left: -3px;
    border-radius: 60px;
  }

  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    background: $blue;
    cursor: pointer;
    margin-left: -3px;
    border-radius: 60px;
  }
}
