@import "./settings.scss";
@import "./components/options.scss";
@import "./components/tracker.scss";
@import "./components/body.scss";

body {
  background: $green;
  padding: 2% 10%;
  font-family: Sniglet;

  .container {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 0;
    width: 100%;
    justify-content: center;
  }
}