@import url("https://fonts.googleapis.com/css?family=Sniglet");
@keyframes shake {
  from {
    transform: rotateZ(0); }
  25% {
    transform: rotateZ(-5deg); }
  65% {
    transform: rotateZ(5deg); }
  to {
    transform: rotateZ(0); } }

#options {
  background: #FBFBFB;
  display: flex;
  flex-flow: row;
  padding: 15px 5px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.2);
  width: 100%; }
  #options #option-inputs {
    display: flex;
    flex-flow: column;
    justify-content: space-around; }
    #options #option-inputs .option {
      margin: 7px 0; }
  #options #date-container {
    position: absolute;
    right: 10px;
    top: 10px; }

tracker-el {
  display: flex;
  flex-flow: column;
  border: solid 1px rgba(227, 227, 223, 0.5);
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 200px;
  margin: 10px 5px;
  cursor: pointer;
  background: rgba(227, 227, 223, 0.5);
  transition: 0.2s ease;
  height: 220px; }
  tracker-el h4 {
    font-size: 20px; }
  tracker-el .tracker-item-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px; }
    tracker-el .tracker-item-tags span {
      margin: 2px 1px;
      padding: 2px 4px;
      background: rgba(139, 190, 92, 0.3); }
  tracker-el:hover {
    background: #E3E3DF;
    box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease; }

home-el {
  display: flex;
  flex-flow: row; }
  home-el #create-new-tracker {
    width: 200px;
    height: 220px;
    background: #71a542;
    background-image: url("images/tabs.svg");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 50% 30%;
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
    color: black; }
    home-el #create-new-tracker span {
      margin-bottom: -80px;
      transition: 0.2s ease; }
    home-el #create-new-tracker:hover {
      transition: 0.2s ease;
      background: #7bb448;
      background-image: url("images/tabs.svg");
      background-image: url("images/tabs.svg");
      background-repeat: no-repeat;
      background-size: 100px 100px;
      background-position: 50% 30%; }

newtracker-el {
  flex-flow: column;
  align-items: center; }
  newtracker-el #actions {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-self: flex-start; }
    newtracker-el #actions span {
      padding: 8px 15px;
      color: #FBFBFB;
      cursor: pointer;
      box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.2);
      background: rgba(85, 85, 85, 0.7);
      transition: 0.2s;
      margin: 0 10px; }
      newtracker-el #actions span:hover {
        background: rgba(85, 85, 85, 0.8);
        transition: 0.2s; }
      newtracker-el #actions span:active {
        background: rgba(85, 85, 85, 0.9);
        transition: 0.2s; }

description-el #description {
  background: #FBFBFB;
  min-height: 24px; }

description-el .label {
  max-height: 16px; }

description-el .text-input {
  font-size: 12px;
  padding: 5px 4px 3px 10px;
  width: 220px;
  color: black;
  outline: none;
  border-bottom: solid 1px #E3E3DF; }

description-el .hashtag {
  background: blue;
  color: white;
  padding: 1px 2px;
  border-radius: 2px; }

description-el [placeholder]:empty:before {
  display: block;
  content: attr(placeholder);
  color: rgba(0, 0, 0, 0.8); }

description-el [placeholder]:empty:focus:before {
  content: ""; }

comments-el {
  width: 50vw;
  margin: 0 auto; }
  comments-el #comments {
    background: #FBFBFB; }
  comments-el .ql-toolbar {
    background: #FBFBFB;
    margin-top: 20px; }

#slider-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: center;
  min-height: 200px;
  padding: 15px 5px;
  margin-top: 50px; }

slider-el {
  display: flex;
  flex-flow: column;
  margin: 35px;
  position: relative;
  height: 90px;
  --range-value: 15%; }
  slider-el svg {
    transition: 0.2s ease; }
  slider-el path {
    transform-origin: center;
    transform: scale(1, 1); }
  slider-el .rangeValue {
    position: absolute;
    top: -5px; }
  slider-el .destroy-tracker {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    cursor: pointer; }
  slider-el .unvalid {
    background-image: url("images/attention2.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    transform-origin: top;
    animation-name: shake;
    animation-duration: 0.5s; }
  slider-el .range-name {
    margin: 0;
    position: absolute;
    left: -10px;
    bottom: 0; }
    slider-el .range-name .label {
      height: 10px; }
    slider-el .range-name input {
      color: rgba(0, 0, 0, 0.8);
      text-align: center; }
  slider-el .range-lower {
    fill: #4183D7;
    transition: 0.2s ease; }
  slider-el .range-selected {
    transition: 0.2s ease;
    transform: scale(1.5, 1.6) translate(0, -8px);
    fill: #4183D7; }
  slider-el .range-higher {
    fill: #E3E3DF;
    transition: 0.2s ease; }
  slider-el input[type=range] {
    width: 165px;
    background: #E3E3DF;
    height: 5px;
    -webkit-appearance: none;
    outline: none;
    margin-left: -10px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(var(--range-value), #4183D7), color-stop(var(--range-value), #E3E3DF)); }
  slider-el input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    background: #4183D7;
    cursor: pointer;
    margin-left: -3px;
    border-radius: 60px; }
  slider-el input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    background: #4183D7;
    cursor: pointer;
    margin-left: -3px;
    border-radius: 60px; }

body {
  background: #8BBE5C;
  padding: 2% 10%;
  font-family: Sniglet; }
  body .container {
    display: flex;
    padding: 30px 0;
    width: 100%;
    justify-content: center; }

.fieldset {
  position: relative;
  border: solid 2px #E3E3DF; }
  .fieldset .legend {
    position: absolute;
    left: 5%;
    top: -20px;
    background: #FBFBFB;
    padding: 3px 8px;
    border: solid 1px #E3E3DF;
    border-bottom: none; }

.option {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 6px; }
  .option .label {
    margin-right: -4px;
    background: #E3E3DF;
    padding: 6px 7px;
    z-index: 5;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .option input::placeholder {
    color: rgba(0, 0, 0, 0.8); }
  .option input {
    padding: 3px 8px;
    z-index: 2;
    border: none;
    border-radius: 0;
    outline: none;
    border-bottom: solid 1px #E3E3DF;
    font-family: Sniglet;
    font-size: 12px;
    background-color: transparent; }
  .option .date {
    width: 100px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    color: #2c3e50;
    background-color: #E3E3DF;
    background-image: url("images/calendar.svg");
    font-weight: bold;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 95% 50%; }
